# Ignore artifacts and build outputs
dist/
build/
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific file types
*.min.js
*.min.css

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore coverage reports
coverage/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml